/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ul, ol, menu {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */

.container-lg {
    margin: 0 auto;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.container-sm {
    margin: 0 auto;
    max-width: 1000px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* STYLE */

* {
    font-family: 'Open Sans', sans-serif;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 5px 15px;
}

.section-title {
    font-size: 40px;
}

.section-subtitle {
    font-size: 25px;
}

.section-strong {
    font-size: 14px;
}

.oldschool-link {
    color: blue;
    text-decoration: underline;
}

label {   
    padding:1em;
    margin:1em;
    cursor:pointer;
}

/* UTILITIES */

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.indent-second-line { 
    text-indent: -0.5em; 
    padding-left: 0.5em; 
}

.list-indented {
    margin-left: 1em;
}

.txt-align-center {
    text-align: center;
}

.col-3 {
    width: calc(3 * 100% / 12);
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-9 {
    width: calc(9 * 100% / 12);
}

.col-12 {
    width: 100%;
}

.cl-blue {
    color: #0061FF;
}

.cl-lightgray {
    color: lightgray;
}

/* HEADER */

.page-header .link-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}

.page-header .link-menu > li {
    padding: 5px 15px;
}

.page-header .link-menu .button-item {
    padding: 0;
}

/* MAIN */

/* = HERO */

.hero {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #B4D0E7;
}

.hero h1 {
    font-size: 80px;
    font-weight: 800;
}

.hero .container {
    margin-top: 40px;
}

.hero .hero-article {
    padding-right: 40px;
    gap: 40px;
}

.hero .hero-article .hero-icon {
    font-size: 40px;
    margin-top: auto;
}

/*  - SUBSCRIPTIONS */

#subscriptions span, #subscriptions p {
    font-size: 15px;
}

#subscriptions .container-sm {
    padding-top: 20px;
    padding-bottom: 20px;
}

#subscriptions .section-title {
    padding: 40px 0;
}

#subscriptions .section-title + a {
    padding-right: 20px;
}

#subscriptions .row {
    gap: 40px;
}

#subscriptions .col-4 {
    width: calc(4 * 100% / 12 - 40px);
}

#subscriptions .col-4, #subscriptions .col-12 {
    border: 1px solid lightgray;
}

#subscriptions .col-name {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;

}

#subscriptions .col-4 > div {
    padding: 10px 20px;
}

#subscriptions .col-top > *, #subscriptions .col-bottom > * {
    padding: 20px 0;
}

#subscriptions .col-4 ul > li {
    padding: 10px 0;
}

#subscriptions .monthly {
    display: block;
}

#subscriptions .button {
    text-align: center;
}

#subscriptions .col-top {
    border-bottom: 0;
}

#subscriptions  .col-bottom {
    border-top: 0;
}

#subscriptions .button {
    padding-top: 10px;
    padding-bottom: 10px;
}

#subscriptions .col-top::after {
    content: "";
    width: 15%;
    border: 1px solid lightgrey;
    display: block;
    margin-top: 20px;
}

#subscriptions .col-12 .row > * {
    padding: 20px;
}

#subscriptions .col-12 .col-8 .section-subtitle {
    padding: 10px 0;
}

#subscriptions .col-12 .col-8 .section-strong {
    margin-bottom: 40px;
}

#subscriptions .col-12 .col-4 {
    border: 0;
    padding: 40px 0;
}